body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-image:url('./hearts.gif'); background-repeat:repeat;
    display: flex;
    min-height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;

}

h1 {
    color: #e04ac0;
    font-size: 4em;
    font-family: 'Pixelify Sans', sans-serif;
    margin-left: 2vw;
    margin-right: 2vw;
}

button {
    padding: 0.5em 1em;
    font-size: 2em;
    background-color: #e60000;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button.shrink {
    padding: 0.3em 0.7em;
    font-size: 2em;
}

.content {
    display: block;
    text-align: center;

}
#yesButton,
#noButton {
    display: block;
    margin: 10px auto; /* Adjust the margin as needed for spacing */
    padding: 10px 20px; /* Adjust the padding for button size */
    cursor: pointer;
}

#yesButton {
    background-color: #7a16b8; /* Green color for "Yes" button */
    color: white; /* White text color */
    font-family: 'Pixelify Sans', sans-serif; /* Replace with your desired font for "Yes" button */
}

#noButton {
    background-color: #830303; /* Red color for "No" button */
    color: white; /* White text color */
    font-family: 'Times New Roman'; /* Replace with your desired font for "No" button */
}